
.collectionfilters {
  @apply py-8 flex flex-col items-center justify-center;
}

.collectionfilters__container {
  @apply flex justify-center space-x-4 my-4;
}

.collectionfilters__item {
}


.filters {
  &__size {
    [type="checkbox"] {
      width: 100% !important;
      height: 100% !important;
      @apply inset-0 p-2;

      &:checked + .filters__size--button {
        @apply bg-black text-white;
      }
    }
  }

  &__list {
    [type="checkbox"] {
      @apply border-2 border-[#54565A] rounded;

      &:checked {
        @apply bg-[#54565A];

        + .filters__list--label {
          @apply text-black;
        }
      }
    }

    &--label {
      @apply text-[#54565A];
    }
  }

  &__button {
    [type="checkbox"] {
      width: 100% !important;
      height: 100% !important;

      &:checked {
        + .filters__button--wrapper {
          @apply border-[#99A8B2];
        }

        ~ .filters__button--label {
          @apply text-black;
        }
      }
    }

    &--label {
      @apply text-[#99A8B2];
    }

    &--item {
      @apply w-12 h-12 border border-[#ecebeb];
    }
  }

  &__show-hide {
    @apply justify-start text-[#99A8B2] text-[14px] font-normal leading-[18px] tracking-[normal] underline min-h-0 h-auto p-0 capitalize cursor-pointer;
  }
}

.facets__summary {
  color: rgba(var(--color-foreground), 0.75);
  padding: 0 1.75rem 0 0;
}
summary {
  cursor: pointer;
  list-style: none;
  position: relative;
}
details > * {
  box-sizing: border-box;
}
.facets__disclosure {
  margin-right: 3.5rem;
}
.disclosure-has-popup {
  position: relative;
}

.facets__display {
  border-width: var(--popup-border-width);
  border-style: solid;
  border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
  border-radius: var(--popup-corner-radius);
  box-shadow: var(--popup-shadow-horizontal-offset)
    var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
    rgba(var(--color-shadow), var(--popup-shadow-opacity));
  background-color: white;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: -1.2rem;
  width: 35rem;
  max-height: 55rem;
  overflow-y: auto;
}
.facets__summary .icon-caret {
  right: 0;
}
summary .icon-caret {
  position: absolute;
  height: 0.6rem;
  right: 1.5rem;
  top: calc(50% - 0.2rem);
}
.facets__form {
  display: flex;
  grid-template-columns: 1fr max-content max-content;
}
.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
.facets__list {
  padding: 0.5rem 2rem;
}

.facets__item {
  display: flex;
  align-items: center;
}
.list-menu__item {
  display: flex;
  align-items: center;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
}
.facets__disclosure fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.facets__price .field {
  align-items: center;
}
.field {
  position: relative;
  width: 100%;
  display: flex;
  transition: box-shadow var(--duration-short) ease;
}

.facet-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 1;
  width: 1.6rem;
  height: 1.6rem;
  top: 0.7rem;
  left: -0.4rem;
  z-index: -1;
  appearance: none;
  -webkit-appearance: none;
}

.facets__item label,
.facets__item input[type="checkbox"] {
  cursor: pointer;
}

.facet-checkbox {
  padding: 1rem 2rem 1rem 0;
  flex-grow: 1;
  display: flex;
  word-break: break-word;
}

.facet-checkbox .icon-checkmark {
  visibility: hidden;
  position: absolute;
  left: 0.3rem;
  z-index: 5;
  top: 1.4rem;
}
.facet-checkbox > svg {
  background-color: rgb(var(--color-background));
  margin-right: 1.2rem;
  flex-shrink: 0;
}

.facets__header {
  @apply bg-white border border-b-gray-100 sticky top-0 justify-between p-6 flex text-sm;
}

.facets .disclosure-has-popup[open] > summary + * {
  z-index: 2;
}
.facets__disclosure[open] .facets__display,
.facets__disclosure-vertical[open] .facets__display-vertical {
  animation: animateMenuOpen var(--duration-default) ease;
}

.facets__heading {
  display: block;
  color: rgba(var(--color-foreground), 0.85);
}
.loading {
  opacity: 0.3;
}
.facet-checkbox > input[type="checkbox"]:checked ~ .icon-checkmark {
  visibility: visible;
}
