/* PROMO BLOCK CUSTOMIZATION */
.promo-block-item video {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.promotion-tile {
  .button.text-only .button__label {
    @apply no-underline;

    &:hover {
      @apply underline;
    }
  }
}
