.product-list.default-list .carousel .carousel-item {
  @apply w-[158px] lg:w-[304px] mr-[24px] transition-opacity px-[0px];
}

.product-list.scrollable-list {
  .product-list__scrollable {
    @apply gap-x-[8px] lg:gap-x-[24px] h-[324px] lg:h-[580px];
  }
  .theme__product-card,
  .carousel-item {
    @apply w-[158px] lg:w-[304px] transition-opacity px-[0px];
  }
}

.carousel .flickity-page-dots {
  bottom: 0;
}
.recommendedproducts__container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.carousel {
  width: 100%;
}

.recommendedproducts__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  overflow-y: hidden;
}

.flickity-button {
  width: 44px;
  height: 44px;
  padding: 0 0;
  min-height: 0px;
}
.flickity-partially-visible {
  opacity: 0.5; /* Set the desired opacity */
  transition: opacity 0.3s ease; /* Add a transition for smooth effect */
}

.carousel .flickity-button {
  background: #eceeef;
}
.flickity-prev-next-button svg {
  display: none;
}
.flickity-prev-next-button.next:before {
  content: "\e906";
  font-size: 24px;
  font-family: "icomoon";
}

.flickity-prev-next-button.previous:before {
  content: "\e905";
  font-size: 24px;
  font-family: "icomoon";
}

.carousel-tab-header .selected {
  @apply text-black border-b-2 border-black p-[16px] lg:p-[0px];
}
