<div class="page__section-container {{ settings.reveal_animation_class }}"
     x-data="section({{ section.settings | json | escape }})"
     :class="classes"
>
   {% if collection.description != empty %}
    <div class="page__description {{ settings.reveal_animation_class }}">
        <div class="page__description-content">
            {{ collection.description }}
        </div>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Page Description",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "description",
      "label": "description",
      "default": "Page Description"
    },
    {
      "type": "select",
      "id": "container_type",
      "label": "Container type",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Use container width"
        },
        {
          "value": "w-full",
          "label": "Use full width"
        }
      ]
    },
    {
      "type": "text",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "header",
      "content": "Padding settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Center"
    }
  ],
  "presets": [
    {
      "name": "Page Description"
    }
  ],
  "enabled_on": {
    "templates": ["page"]
  }
}

{% endschema %}
