<div class="account-nav-bar">
  <a
    href="/account?view=personal-details"
    class="hover:no-underline"
  >
    <i class="icon icon-chevron-left flex text-[22px] text-[#BBBBBD]"></i>
  </a>
  <div class="flex bar-title">Account Details</div>
  <div class="flex bar-title w-[22px]"></div>
</div>
