<div class="flex flex-col">
    <div class="flex">
        <div>
            <div class="b2">{{ shop.name }} Communications</div>
            <div class="b3">Get all the latest news, offers and content from us</div>
        </div>
        <div>
            <input type="checkbox" name="sms"/>
            <input type="checkbox" name="email"/>
        </div>
    </div>
</div>
