<div class="account-content-area">
    <p class="mb-5 lg:mb-10 b3">{{ 'customer.orders.none' | t }}</p>
    <a href="/collections/shop-all" class="button button-primary w-full lg:w-auto">{{ 'customer.orders.empty_state_button' | t }}</a>
</div>
