<div class="flex flex-col gap-y-6 lg:gap-y-10">
    <div>
        <p>
            {{ 'customer.account.change_password_text' | t }}
        </p>
        <p>
            {{ 'customer.account.current_email' | t: email: customer.email }}
        </p>
    </div>

    <a class="button btn-light hover:no-underline w-full lg:w-fit" href="/account/login#recover">
        {{ 'customer.account.reset_password' | t }}
    </a>

    {% comment %} <div class="flex flex-col w-full my-[18px]">
        <fieldset class="flex space-x-4">
            <div class="input floating-input">
                <input type="text" name="current_password" value="" placeholder=""/>
                <label for="current_password">Current password</label>
            </div>
        </fieldset>

        <fieldset class="flex space-x-4">
            <div class="input floating-input">
                <input type="text" name="new_password" value="" placeholder=""/>
                <label for="new_password">New password</label>
            </div>
            <div class="input floating-input">
                <input type="text" name="confirm_new_password" value="" placeholder=""/>
                <label for="confirm_new_password">Confirm new password</label>
            </div>
        </fieldset>
    </div>

    <button class="btn-light">Submit</button> {% endcomment %}
</div>
