<div class="max-w-5xl mx-auto hidden">
    <div class="flex justify-around gap-x-[12px]">
        <a href="/pages/refund-policy" class="text-black underline">Refund Policy</a>
        <a href="/pages/shipping-policy" class="text-black underline">Shipping Policy</a>
        <a href="/pages/privacy-policy" class="text-black underline">Privacy Policy</a>
        <a href="/pages/terms-of-service" class="text-black underline">Terms of Service</a>
    </div>
</div>
