<div class="article-template__back lg:pb-4">
    <a href="{{ blog.url }}" title="{{ blog.title }}" class="flex items-center gap-2 hover:no-underline">
        <span class="icon icon-caret-left-thin text-lg no-underline"></span>
        <span class="text-sm no-underline hover:underline font-light">
            Back to blog
        </span>
    </a>
</div>
