<div class="flex border-b w-full justify-between px-[24px] py-[24px]">
    <div class="flex justify-start gap-x-[16px]">
        <div class="word-count bc content-center">Words:</div><p class="b2">1024</p>
        <div class="published_date bc"></div><p class="b2"> 18 / 05 / 2024</p>
    </div>

    <div class="flex justify-end">
        <div class="share">Share <i class="icon-share"></i></div>
    </div>
</div>