<div class="footer-terms__bottom-links">
    <a class="hover:no-underline" href="{{ block.settings.link_1_url }}">{{ block.settings.link_1_label }}</a>
    <a class="hover:no-underline" href="{{ block.settings.link_2_url }}">{{ block.settings.link_2_label }}</a>
</div>
