<div class="copyright {{ block.settings.text_style }} lg:text-[12px] max-lg:flex flex-col gap-4">
    <hr class="opacity-50 w-full lg:hidden mt-2">

    <span>&copy; {{ "now" | date: "%Y" }} {{ block.settings.copyright }}</span>
</div>
