<div class="service-icons grid grid-cols-3 gap-8 text-center my-8">
    <div class="service-item">
        <div class="w-[21px] h-[18px]">
            <img src="https://leemathews.com.au/cdn/shop/files/pdp-usp-1_50x.png?v=1661235117" />
        </div>
        <p class="h5">FREE ONLINE EXCHANGES</p>
    </div>

    <div class="service-item">
        <div class="w-[21px] h-[18px]">
            <img src="https://leemathews.com.au/cdn/shop/files/pdp-usp-2_50x.png?v=1661235117" />
        </div>
        <p class="h5">SAME-DAY CLICK & COLLECT</p>
    </div>

    <div class="service-item ">
        <div class="w-[21px] h-[18px]">
            <img src="https://leemathews.com.au/cdn/shop/files/pdp-usp-3_50x.png?v=1661235117" />
        </div>
        <p class="h5">FREE SHIPPING OVER $300</p>
    </div>
</div>

<style>
    .service-icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        text-align: center;
        margin: 2rem 0;
    }

    .service-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service-item p {
        font-weight: 600;
        margin-top: 1rem;
    }
</style>
