.skip-to-content-link {
  @apply hidden;
}

.skip-to-content-link {
  @apply absolute z-50 px-4 py-2 text-white rounded-lg shadow-lg;
}

.skip-to-content-link:not(:focus) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}
